---
layout: default
---

<h2>Posts</h2>
{% assign posts_per_topic = site.posts | where: "topic", page.title %}
{% for post in posts_per_topic %}
<p>
  <a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a>
  <span class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date |
      date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope
      itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</span>
</p>
{% endfor %}